@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">YourProject</a>

    <ul class="navbar-nav font-weight-bold">
        <li class="nav-item active mx-4">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null )
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Patrons", "Index", "Patron", new { area = "" }, null)
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Tools", "Index", "Tool", new { area = "" }, null)
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Loans", "Index", "ToolLoanInvoice", new { area = "" }, null)
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Brand", "Index", "Brand", new { area = "" }, null)
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, null)
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-4">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <label class="text-white mx-3">Hello: @HttpContext.Current.User.Identity.Name</label>
                @Html.ActionLink("Logout", "Logout", "Login")
            }
            else
            {
                <label class="text-white">Please log in</label>
            }
            
        </li>
    </ul>
</nav>

<div class="container body-content" >
    <br/>
    <h4 class="alert-success font-weight-bold">@TempData["Success"]</h4>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Your Project Management System, created by Moses Hamon</p>
    </footer>
</div>

    
    @Scripts.Render("~/bundles/lib")
@Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
