@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">YourProject</a>

    <ul class="navbar-nav font-weight-bold">
        <li class="nav-item active mx-4">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn nav-link text-primary"} )
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Patrons", "Index", "Patron", new { area = "" }, new { @class = "btn nav-link text-primary"})
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Tools", "Index", "Tool", new { area = "" }, new { @class = "btn nav-link text-primary" })
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Loans", "Index", "ToolLoanInvoice", new { area = "" }, new { @class = "btn nav-link text-primary" })
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Brand", "Index", "Brand", new { area = "" }, new { @class = "btn nav-link text-primary" })
        </li>
        <li class="nav-item mx-4">
            @Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, new { @class = "btn nav-link text-primary" })
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-4">
            <button id="helpBtn" class="btn btn-link btn-outline-info nav-link text-info" >Help OFF</button>
        </li>
        <li class="nav-item mx-4">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <label class="text-white mx-3 ">Hello: @HttpContext.Current.User.Identity.Name</label>
                @Html.ActionLink("Logout", "Logout", "Login")
            }
            else
            {
                <label class="text-white">Please log in</label>
            }

        </li>
    </ul>
</nav>

<div class="container body-content" >
    <br/>
    <h4 class="alert-success font-weight-bold">@TempData["Success"]</h4>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Your Project Management System, created by Moses Hamon</p>
    </footer>
</div>

    
@Scripts.Render("~/bundles/lib")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        // On help button click
        $('#helpBtn').on("click", function () {
            // stores button into variable
            var btn = $(this);
            // if the help is Off, turn it on
            if ($('.help').css('display') === 'none') {
                $('.help').css('display', 'block');
                btn.text('Help ON');
                // if the help is on, turn it off 
            } else if ($('.help').css('display') === 'block')
            {
                $('.help').css('display', 'none');
                btn.text('Help OFF');
            }
        });
    });

</script>
