@model YourProjectWebApp.ViewModels.ReportsIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Reports</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5>Please Select a report to view</h5>
        </div>
        <div class="col border">
            <label class="help text-info" id="help" style="display: none">HELP: Clicking the below links will Show all TOOLS that fit the categories</label> <!--HELP LABEL-->
            <label>Show Report for: </label> <br />
            @Ajax.ActionLink("All Tools", "RetrieveReport", "Reports", new { queryType = "" }, new AjaxOptions { UpdateTargetId = "ReportInfo", InsertionMode = InsertionMode.Replace }, new { @class = "btn-link mx-2" }) |
            @Ajax.ActionLink("Checked out Tools", "RetrieveReport", "Reports", new { queryType = "AllChecked" }, new AjaxOptions { UpdateTargetId = "ReportInfo", InsertionMode = InsertionMode.Replace }, new { @class = "btn-link mx-2" }) |
            @Ajax.ActionLink("Active Tools", "RetrieveReport", "Reports", new { queryType = "AllActive" }, new AjaxOptions { UpdateTargetId = "ReportInfo", InsertionMode = InsertionMode.Replace }, new { @class = "btn-link mx-2" }) |
            @Ajax.ActionLink("Retired Tools", "RetrieveReport", "Reports", new { queryType = "AllRetired" }, new AjaxOptions { UpdateTargetId = "ReportInfo", InsertionMode = InsertionMode.Replace }, new { @class = "btn-link mx-2" }) |

        </div>
        <div class="col border">
            <label class="help text-info" id="help" style="display: none">HELP: This section displays all Active or Retired tool filtered by brand, Select brand first then click filter</label> <!--HELP LABEL-->
            <text>Select Brand: </text>@Html.DropDownList("BrandSelector", new SelectList(Model.Brands, "Id", "BrandName"), "", new { @id = "brand-selector" })
            <br />
            <label>Filter By: </label> <br />
            <button id="filterActive" class="btn btn-link">Active Tools</button> |
            <button id="filterRetired" class="btn btn-link js-retired">Retired Tools</button>
        </div>
        <div class="col border">
            <div class="row">
                <div class="col">
                    <label class="help text-info" id="help" style="display: none">HELP: This will display all Loan Invoices for the item selected from drop down list.</label> <!--HELP LABEL-->
                    <label>View all rental history by:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Patrons: </label> <br/>
                    @Html.DropDownList("PatronSelector", new SelectList(Model.Patrons, "Id", "PatronName"), "", new { @id = "patron-selector" })
                </div>
                <div class="col">
                    <label>Tools: </label> <br/>
                    @Html.DropDownList("ToolSelector", new SelectList(Model.Tools, "Id", "Description"), "", new { @id = "tool-selector" })
                    
                </div>
            </div>
        </div>
    </div>

</div>
<div id="ReportInfo">

</div>

<script>
    $(document).ready(function () {
        // onChange action for Patron dropdown list
        $("#patron-selector").change(function () {
            const id = $(this).val();
            const conditionType = "patron";
            $.ajax({
                type: "POST",
                url: '/Reports/RetrieveInvoice/',
                data: { id, conditionType },
                success: function (data) {
                    $("#ReportInfo").html(data);
                    $("#tool-selector").val("");
                }
            });
        });
        // onChange action for Tools dropdown list
        $("#tool-selector").change(function () {
            const id = $(this).val();
            //const conditionType = "patron";
            $.ajax({
                type: "POST",
                url: '/Reports/RetrieveInvoice/',
                data: { id },
                success: function (data) {
                    $("#ReportInfo").html(data);
                    $("#patron-selector").val("");
                }
            });
        });

        // Onclick action for button filterActive
        $("#filterActive").on("click", function () {
            const queryType = "AllActiveByBrand";
            const brand = $("#brand-selector option:selected").val();
            $.ajax({
                type: "POST",
                url: '/Reports/retrieveReport/',
                data: { queryType, brand },
                success: function (data) {
                    $("#ReportInfo").html(data);
                }
            });
        });
        // Onclick action for button filterActive
        $("#filterRetired").on("click", function () {
            const queryType = "AllRetiredByBrand";
            const brand = $("#brand-selector option:selected").val();
            $.ajax({
                type: "POST",
                url: '/Reports/retrieveReport/',
                data: { queryType, brand },
                success: function (data) {
                    $("#ReportInfo").html(data);
                }
            });
        });
    });

</script>


