@model YourProjectWebApp.ViewModels.CreateInvoiceViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Invoice</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Tool Loans </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PatronToolLoanInvoice.ToolId, htmlAttributes: new { @class = "control-label col-md-1" }) @Html.ActionLink("Create New", "Create", "Tool")
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PatronToolLoanInvoice.ToolId, new SelectList(Model.Tools, "Id", "Description"), "Select A Tool", new { htmlAttributes = new { @class = "form-control" } })
            <label class="help text-info" id="help" style="display: none">HELP: Select the tool from the list to be loaned out.</label> <!--HELP LABEL-->
            @Html.ValidationMessageFor(model => model.PatronToolLoanInvoice.ToolId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PatronToolLoanInvoice.PatronId, htmlAttributes: new { @class = "control-label col-md-1" }) @Html.ActionLink("Create New", "Create", "Brand")
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PatronToolLoanInvoice.PatronId, new SelectList(Model.Patrons, "Id", "PatronName"), "Select A Patron", new { htmlAttributes = new { @class = "form-control" } })
            <label class="help text-info" id="help" style="display: none">HELP: Select a patron to loan against</label> <!--HELP LABEL-->
            @Html.ValidationMessageFor(model => model.PatronToolLoanInvoice.PatronId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PatronToolLoanInvoice.DateRented, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PatronToolLoanInvoice.DateRented, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToShortDateString() } })
            <label class="help text-info" id="help" style="display: none">HELP: Date the tool was rented (by default it will be today's date)</label> <!--HELP LABEL-->
            @Html.ValidationMessageFor(model => model.PatronToolLoanInvoice.DateRented, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PatronToolLoanInvoice.Workspace, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PatronToolLoanInvoice.Workspace, new { htmlAttributes = new { @class = "form-control" } })
            <label class="help text-info" id="help" style="display: none">HELP: Defines the workspace that will be used</label> <!--HELP LABEL-->
            @Html.ValidationMessageFor(model => model.PatronToolLoanInvoice.Workspace, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            <label class="help text-info" id="help" style="display: none">HELP: Saves the entry</label> <!--HELP LABEL-->
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

