@using System.Linq
@model YourProjectWebApp.ViewModels.InvoiceIndexViewModel

@{
    var invoiceHeadings = Model.PatronToolLoanInvoices.ElementAtOrDefault(0);
    var patronName = Model.Patrons.ElementAtOrDefault(0)?.PatronName;
    var toolName = Model.Patrons.ElementAtOrDefault(0)?.PatronName;
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Invoices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (invoiceHeadings != null)
{
    <table id="invoiceTable" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => invoiceHeadings.Id)
            </th>
            <th>
                @Html.DisplayName("Patron")
            </th>
            <th>
                @Html.DisplayName("Tool")
            </th>
            <th>
                @Html.DisplayNameFor(model => invoiceHeadings.DateRented)
            </th>
            <th>
                @Html.DisplayNameFor(model => invoiceHeadings.DateReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => invoiceHeadings.Workspace)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.PatronToolLoanInvoices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @{
                        var n = 0;
                        foreach (var patron in Model.Patrons)
                        {
                            if (patron.Id == item.PatronId)
                            {
                                @Html.DisplayFor(p => patron.PatronName)
                                n++;
                            }
                        }
                        if (n == 0)
                        {
                            <t class="alert-danger">Patron Missing from database</t>
                        }
                    }
                </td>
                <td>
                    @{
                        var t = 0;
                        <!-- Go Through the list of brands and match the name to the id -->
                        foreach (var tool in Model.Tools)
                        {
                            <!-- If the a tool matches the invoice, place the tool name in -->
                            if (tool.Id == item.ToolId)
                            {
                                @Html.DisplayFor(toolItem => tool.Description)
                                t++;
                            }
                        }
                        <!-- If none of the Tools matched then the tool is missing from the database -->
                        if (t == 0)
                        {
                            <t class="alert-danger">Tool Missing from database</t>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRented)
                </td>
                <td>
                    @if (item.DateReturned == null)
                    {
                        <label>N/A</label>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DateReturned)
                    }

                </td>
                <td>
                    @if (item.Workspace == null)
                    {
                        <label>N/A</label>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Workspace)
                    }
                    
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <button data-invoice-id="@item.Id.ToString()" class="btn btn-link js-details">Details</button> |
                
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @onclick = "confirm('Are you sure you want to delete this invoice?');"}) |
                @if (item.DateReturned == null)
                {
                    @Html.ActionLink("Return Tool", "UpdateReturn", new {id = item.Id}, new { onclick = "return confirm('Are you sure you want to Return Tool?');"} )
                }
            </tr>

        }

    </table>
    <hr />
    <div id="loadDetails" class="container-fluid"></div>
}
else
{
    <p class="alert-warning">There are no entries in the database please create some</p>
}
<script>
    $(document).ready(function () {
        $("#invoiceTable .js-details").on("click", function () {
            var invoiceId = $(this).attr("data-invoice-id");
            $.ajax({
                url: '/ToolLoanInvoice/_invoiceDetails/' + invoiceId,
                success: function (data) {
                    $("#loadDetails").html(data);
                }
            });
        });
    });

</script>

