@using System.Linq
@model YourProjectWebApp.ViewModels.InvoiceIndexViewModel

@{
    var invoice = Model.PatronToolLoanInvoices.ElementAt(0);
    var patronName = Model.Patrons.ElementAtOrDefault(0)?.PatronName;
    var toolName = Model.Patrons.ElementAtOrDefault(0)?.PatronName;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => invoice.Id)
        </th>
        <th>
            @Html.DisplayName("Patron")
        </th>
        <th>
            @Html.DisplayName("Tool")
        </th>
        <th>
            @Html.DisplayNameFor(model => invoice.DateRented)
        </th>
        <th>
            @Html.DisplayNameFor(model => invoice.DateReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => invoice.Workspace)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PatronToolLoanInvoices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @foreach (var patron in Model.Patrons)
                {
                    if (patron.Id == item.PatronId)
                    {
                        @Html.DisplayFor(p => patron.PatronName)
                    }
                }
            </td>
            <td>
                @foreach (var tool in Model.Tools)
                {
                    if (tool.Id == item.ToolId)
                    {
                        @Html.DisplayFor(toolItem => tool.Description)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRented)
            </td>
            <td>
                @if (item.DateReturned==null)
                {
                    <text>N/A</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.DateReturned)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workspace)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
