@model IEnumerable<YourProjectWebApp.WebServiceYourProject.Patron>

@{
    ViewBag.Title = "Index";
}

<h2>Patrons</h2>
<div class="row">
    <div class="col">
        <p>
            @Html.ActionLink("Create New", "Create")
            <label class="help text-info" id="help" style="display: none">HELP: Click to Create a new entry</label> <!--HELP LABEL-->
        </p>
    </div>
    <div class="col">
        <div>
            <label class="help text-info" id="help" style="display: none">HELP: Clicking Edit will edit the  entry,</label> <!--HELP LABEL-->
            <label class="help text-info" id="help" style="display: none">Clicking Details will Display the details for entry,</label> <!--HELP LABEL-->
            <label class="help text-info" id="help" style="display: none">Clicking Delete will Delete the entry</label> <!--HELP LABEL-->
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatronName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGroup)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatronName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGroup)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
    }

</table>


